Import libraries

In [2]:
import pandas as pd
import matplotlib as mlb

2. Read dataset

In [71]:
df =pd.read_csv('AmazonSaleReport.csv')
df

C:\Users\yashi\AppData\Local\Temp\ipykernel_10152\3921875225.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv('AmazonSaleReport.csv')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

3. Clean data

3.1 Handling duplicated

In [72]:
print('Number of Duplicated Rows in the dataset:', df.duplicated().sum())

Number of Duplicated Rows in the dataset: 0

- So there is no duplicated in the dataset

3.2 Drop unnecessary column

In [73]:
df.drop(columns= ['Unnamed: 22', 'fulfilled-by', 'ship-country', 'currency', 'Sales Channel '], inplace = True)
df

,index,Order ID,Date,Status,Fulfilment,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,promotion-ids,B2B
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,NaN,False
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,False
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,NaN,False
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B098112V2V,Shipped,1,517.00,HYDERABAD,TELANGANA,500013.0,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Expedited,SET401,SET401-KR-NP-M,Set,M,B09VC6KHX8,Shipped,1,999.00,GURUGRAM,HARYANA,122004.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B0982YZ51B,Shipped,1,690.00,HYDERABAD,TELANGANA,500049.0,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Expedited,J0012,J0012-SKD-XS,Set,XS,B0894Y2NJQ,Shipped,1,1199.00,Halol,Gujarat,389350.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Expedited,J0003,J0003-SET-S,Set,S,B0894X27FC,Shipped,1,696.00,Raipur,CHHATTISGARH,492014.0,IN Core Free Shipping 2015/04/08 23-48-5-108,False

3.3 Handling missing data

- Checking the missing data in each column

In [74]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
promotion-ids         49153
B2B                       0
dtype: int64

In [75]:
#Fill missing value 
df['Courier Status'].fillna('unknown', inplace=True)
df['promotion-ids'].fillna('no promotion', inplace=True)

C:\Users\yashi\AppData\Local\Temp\ipykernel_10152\2046682812.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Courier Status'].fillna('unknown', inplace=True)
C:\Users\yashi\AppData\Local\Temp\ipykernel_10152\2046682812.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['promotion-ids'].fillna('no promotion', inplace=True)

In [76]:
missing_cat_cols = [ 'ship-city', 'ship-state','ship-postal-code']
missing_num_cols = ['Amount']

In [77]:
for col in missing_cat_cols:
    mode_value = df[col].mode()[0]
    df[col] = df[col].fillna(mode_value)

In [78]:
for col in missing_num_cols:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)

In [79]:
df.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
promotion-ids         0
B2B                   0
dtype: int64

- Missing Values in the Courier Status and promotion-ids has been Filled Successfully.
- Missing Values in the ship-city and ship-state and ship-postal-code has been Filled Successfully. using mode of each column

3.4 Rename Columns

In [80]:
mapper = {'Order ID':'order_ID', 'Date':'date', 'Status':'ship_status','Fulfilment':'fullfilment',
          'ship-service-level':'service_level', 'Style':'style', 'SKU':'sku', 'Category':'product_category', 
          'Size':'size', 'ASIN':'asin', 'Courier Status':'courier_ship_status', 'Qty':'order_quantity', 
          'Amount':'order_amount_($)', 'ship-city':'city', 'ship-state':'state', 'ship-postal-code':'zip', 
          'promotion-ids':'promotion','B2B':'customer_type'}
df.rename(columns=mapper, inplace =True)

- Convert value of customer_type

In [81]:
df['customer_type'] = df['customer_type'].replace(to_replace=[True,False], value=['business', 'customer'])

- Convert Date column to date time format

In [82]:
df['date']=pd.to_datetime(df['date'])
import calendar

C:\Users\yashi\AppData\Local\Temp\ipykernel_10152\1179611337.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date']=pd.to_datetime(df['date'])

- Added New column for month

In [83]:
df['month'] = df['date'].dt.month
df['month'].unique()

array([4, 3, 5, 6])

In [84]:
df['monthName']=df['date'].dt.strftime('%B')
df['monthName']

0         April
1         April
2         April
3         April
4         April
          ...
128970      May
128971      May
128972      May
128973      May
128974      May
Name: monthName, Length: 128975, dtype: object

- Identifying which all months are part of dataset

In [85]:
df['monthName'].unique()

array(['April', 'March', 'May', 'June'], dtype=object)

- Finding out earliest date and latest date from Dataset to do quaterly Analysis

In [86]:
print(f'The earliest date is {df["date"].min()}')
print(f'The latest date is {df["date"].max()}')

The earliest date is 2022-03-31 00:00:00
The latest date is 2022-06-29 00:00:00

- Considering datees which are falling in Quarter 2 and rejecting Q1 dates

In [87]:
df=df[df['month'] !=3]
print(f'The earliest date is {df["date"].min()}')
print(f'The latest date is {df["date"].max()}')

The earliest date is 2022-04-01 00:00:00
The latest date is 2022-06-29 00:00:00

In [36]:
df.nunique().to_frame(name='Count of unique values')

                     Count of unique values
index                                128804
order_ID                             120220
date                                     90
ship_status                              13
fullfilment                               2
service_level                             2
style                                  1377
sku                                    7194
product_category                          9
size                                     11
asin                                   7189
courier_ship_status                       4
order_quantity                           10
order_amount_($)                       1409
city                                   8952
state                                    69
zip                                    9459
promotion                              5784
customer_type                             2
month                                     3
monthName                                 3

- Convert Amount column values to Dollar based on exchange rate

In [ ]:
# Convert INR to USD using an exchange rate of 1 INR = 0.012 USD
exchange_rate = 0.0120988
df['order_amount_($)'] = df['order_amount_($)'].apply(lambda x: x * exchange_rate)

C:\Users\yashi\AppData\Local\Temp\ipykernel_10152\2466255497.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order_amount_($)'] = df['order_amount_($)'].apply(lambda x: x * exchange_rate)

In [89]:
df

,index,order_ID,date,ship_status,fullfilment,service_level,style,sku,product_category,size,...,courier_ship_status,order_quantity,order_amount_($),city,state,zip,promotion,customer_type,month,monthName
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,S,...,unknown,0,7.835425,MUMBAI,MAHARASHTRA,400081.0,no promotion,customer,4,April
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,Shipped,1,4.912113,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,customer,4,April
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,Shipped,1,3.980505,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,business,4,April
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,L,...,unknown,0,9.114389,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,customer,4,April
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,Shipped,1,6.944711,CHENNAI,TAMIL NADU,600073.0,no promotion,customer,4,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,Shipped,1,6.255080,HYDERABAD,TELANGANA,500013.0,no promotion,customer,5,May
128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Expedited,SET401,SET401-KR-NP-M,Set,M,...,Shipped,1,12.086701,GURUGRAM,HARYANA,122004.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May
128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,Shipped,1,8.348172,HYDERABAD,TELANGANA,500049.0,no promotion,customer,5,May
128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Expedited,J0012,J0012-SKD-XS,Set,XS,...,Shipped,1,14.506461,Halol,Gujarat,389350.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May
128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Expedited,J0003,J0003-SET-S,Set,S,...,Shipped,1,8.420765,Raipur,CHHATTISGARH,492014.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May

In [97]:
df.to_csv('C:/HK1/PTTK/new/-STAT3013.-P12_Nhom2-/dataset/cleaned_amazon_sale_report.csv')